################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/builds/VisualStudio2019
/thirdparty/builds
/thirdparty/precompiled
/builds
